#sb{
    background-color: #f6f6f6;
  h3{
    padding-top: 5px;
  }
    h4 {
        color: $color-primary;
        font-size: rem(22px);
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 16px;
    }
    h5 {
        color: $color-primary;
        font-size: rem(17px);
        font-weight: 600;
        padding-top: 16px;
    }
}

#yp{
    background-color: #f6f6f6;
  h3{
    padding-top: 5px;
  }
  h4 {
    color: $color-primary;
    font-size: rem(22px);
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 16px;
  }
  h5 {
    color: $color-primary;
    font-size: rem(17px);
    font-weight: 600;
    padding-top: 16px;
  }
}

#wie{
    background-color: #f6f6f6;
  h3{
    padding-top: 5px;
  }
  h4 {
    color: $color-primary;
    font-size: rem(22px);
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 16px;
  }
  h5 {
    color: $color-primary;
    font-size: rem(17px);
    font-weight: 600;
    padding-top: 16px;
  }
}

#retention{
    background-color: #f6f6f6;
  h3{
    padding-top: 5px;
  }
  h4 {
    color: $color-primary;
    font-size: rem(22px);
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 16px;
  }
  h5 {
    color: $color-primary;
    font-size: rem(17px);
    font-weight: 600;
    padding-top: 16px;
  }
}

#terms{
  h4 {
    color: $color-primary;
    font-size: rem(22px);
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 16px;
  }
  h5 {
    color: $color-primary;
    font-size: rem(17px);
    font-weight: 600;
    padding-top: 16px;
  }
}

.award-padding{
  padding-top: rem(60px);
}