//=================================
//         Content CSS           //
//=================================

// Preloader

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2000;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  top: 50%;
  -webkit-transform: rotateZ(45deg) translateY(-50%);
          transform: rotateZ(45deg) translateY(-50%);
}
.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-secondary;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}


#main {
  position: relative;
  z-index: 100;
}
.section-padding {
  padding: 5% 0;
}

// Choose Section

.choose__img {
  margin-bottom: 35px
}
.choose__info {
  color: #fff;
  h2 {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 55px;
  }
  p {
    padding: 20px 0 35px;
  }
  a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    background: $color-secondary;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 20px;
    border-radius: 44px;
    margin-right: 16px;
  }
}

// Demo Section

.demo {
  &__item {
    background-color: #f6f6f6;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    h4 {
      font-size: 14px;
      padding: 14px 0;
      a {
        color: $color-body;
      }
    }
  }
  &__preview {
    position: relative;
    background-color: #f6f6f6;
    img {
      @include transition(0.3s);
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%);
    a {
      display: block;
      width: 70px;
      height: 70px;
      line-height: 70px;
      background-color: $color-secondary;
      color: #fff;
      font-size: 22px;
      border-radius: 50%;
      transform: scale(0);
      @include transition(0.3s);
    }
  }
}
.demo__item:hover,
.pages__item:hover {
  .demo__icon a {
    transform: scale(1);
  }
  .demo__preview img {
    opacity: 0.2;
  }
}

.pages {
  background-color: #1F1F1F;
  &__item {
    background-color: #fff;
    text-align: center;
    margin-bottom: 30px;
    h4 {
      background-color: #f6f6f6;
      font-size: 14px;
      padding: 14px 0;
      a {
        color: $color-body;
      }
    }
  }
  .headline {
    h3 {
      color: #fff;
      &::after {
        background-color: #fff;
      }
    }
  }
}

// Features Section

#about > div > p{
  display: inline-block;
  max-width: 65%;
  font-size: 18px;
  line-height: 30px;
}

.feature {
  padding: 30px;
  border-radius: $br;
  text-align: center;
  @include transition(0.3s);
  img {
    max-width: 60px;
  }
  h2 {
    font-size: rem(20px);
    padding: 15px 0;
  }
  p {
    max-width: 300px;
    font-size: rem(14px);
    margin: 0 auto;
  }
  &:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
}

// Video Section

.video {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .headline {
    h3 {
      color: white;
      &::after {
        background-color: white;
      }
    }
    color: white;
  }
  &__action {
    display: block;
    .fa {
      color: white;
      font-size: 6em;
    }
  }
}

// Countdown section

#countdown{
  .container {
    width: 650px;
    margin: 0 auto;
  }
}

// Venue section

#venue{
  background-color: #f6f6f6;
}

// Program

#program{
  background-color: #f6f6f6;
}

// Gallery Section

#gallery {
  .owl-carousel .owl-item img {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  &__slider::after {
    content: url("../../img/gallery.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
  }
}

// Testimonial Section

.testimon {
  &__item {
    max-width: 850px;
    text-align: center;
    border-radius: $br;
    margin: 0 auto;
    &--img {
      width: 80px;
      height: 80px;
      margin: 0 auto 30px;
    }
    &--text {
      position: relative;
      background-color: #fff;
      padding: 30px;
      box-shadow: 0 0 50px rgba(0,0,0,0.05);
      &::before {
        content: ' ';
        position: absolute;
        top: -28px;
        left: 50%;
        right: 0;
        @include css-triangle(14px, #fff, top);
        transform: translateX(-50%);
      }
      q {
        font-size: rem(14px);
      }
      h3 {
        color: $color-primary;
        font-size: rem(22px);
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 16px;
      }
      h5 {
        font-size: rem(14px);
      }
    }
  }
}

// Team Members Section

.team__member {
  position: relative;
  border-radius: $br;
  overflow: hidden;
  &--info {
    position: absolute;
    bottom: -60px;
    right: 0;
    left: 0;
    height: 100px;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    opacity: 0.9;
    @include transition(0.3s);
    h4 {
      font-size: rem(13px);
      line-height: 0px;
      margin-bottom: 4px;
    }
    h6 {
      font-size: rem(12px);
      font-style: italic;
      margin-bottom: 15px;
    }
  }
  &--social {
    li {
      display: inline-block;
      margin: 0 2px;
      a {
        display: block;
        width: 28px;
        height: 28px;
        line-height: 28px;
        color: #fff;
        font-size: rem(14px);
        text-align: center;
        border: 2px solid #fff;
        border-radius: 100%;
        &:hover {
          background-color: #fff;
          color: $color-primary;
        }
      }
    }
  }
  &:hover {
    .team__member--info {
      bottom: 0;
    }
  }
}

// Pricing Table

.price {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .headline {
    margin-bottom: 100px;
    h3 {
      color: white;
      &::after {
        background-color: white;
      }
    }
    color: white;
  }
  &__table {
    position: relative;
    background: #fff;
    border-radius: $br;
    @include transition(0.2s);
    &.recommended {
      margin-top: -36px;
      &::before {
        content: '\f005';
        font-family: FontAwesome;
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: $color-secondary;
        color: #fff;
        font-size: rem(17px);
        border-radius: 100%;
        margin: 0 auto;
      }
    }
    &:hover {
      box-shadow: inset 0 -4px 0 0 $color-secondary;
    }
  }
  &__title {
    padding: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin-bottom: 10px;
    h3 {
      font-size: rem(34px);
      font-weight: 700;
      text-transform: uppercase;
    }
    h5 {
      font-size: rem(14px);
      color: $color-secondary;
    }
  }
  &__cost {
    font-size: rem(50px);
    margin-bottom: 30px;
    span {
      display: inline-block;
      font-size: 18px;
      transform: translateY(-22px);
    }
    small {
      display: inline-block;
      color: #999;
      font-size: rem(14px);
      font-weight: 300;
    }
  }
  ul {
    font-size: rem(15px);
    opacity: 0.6;
    margin-bottom: 30px;
    li {
      margin: 5px 0;
    }
  }
  &__select {
    padding: 30px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
  }
}

// FAQ Section

.faq {
  background-color: #f6f6f6;
  &__img {
    max-width: 170px;
    margin: 0 auto;
  }
  .panel-group .panel {
    border-radius: $br;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    &:hover {
      .panel-heading {
        background: $color-secondary;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, $color-primary, $color-secondary);
        background: linear-gradient(to right, $color-primary, $color-secondary);
        color: #fff;
        border-top-left-radius: $br;
        border-top-right-radius: $br;
      }
    }
  }
  .panel .panel-heading {
    position: relative;
    padding: 15px;
    @include transition(0.2s);
  }
  .panel .panel-heading .panel-title a {
    display: block;
    text-transform: capitalize;
    margin-right: 40px;
    &::after {
      content: "\f106";
      font: 20px fontAwesome;
      position: absolute;
      top: 50%;
      right: 5px;
      height: 40px;
      width: 40px;
      line-height: 45px;
      text-align: center;
      transform: translateY(-50%);
    }
    &.collapsed::after {
      content: "\f107";
    }
  }
  .panel-body {
    font-size: rem(14px);
  }
}

// Blogs Section

#blogs{
  background-color: #f6f6f6;
}

.blog {
  &__item {
    background: #fff;
    border-radius: $br;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    margin-bottom: 30px;
    transition: box-shadow .3s;
    &--img {
      height: 208px;
      background-color: #333;
      overflow: hidden;
      transition: height .5s;
      img {
        transition: opacity .3s,transform .8s;
      }
    }
    &--date {
      position: absolute;
      top: 20px;
      right: 30px;
      width: 50px;
      height: 50px;
      color: #fff;
      font-weight: 500;
      text-align: center;
      line-height: 12px;
      padding-top: 12px;
      border-radius: 50%;
      .day {
        display: block;
        font-size: rem(14px);
      }
      .month {
        display: block;
        font-size: rem(10px);
        text-transform: uppercase;
      }
    }
    &--content {
      position: relative;
      height: 185px;
      padding: 20px;
      transition: height .5s;
      h3 {
        font-size: rem(20px);
        margin-bottom: 10px;
        a {
          color: $color-body;
        }
      }
    }
    &--author {
      display: block;
      color: $color-primary;
      font-size: rem(11px);
      font-weight: 500;
      line-height: 32px;
      text-transform: uppercase;
      margin-bottom: 30px;
      img {
        float: left;
        width: 32px;
        border-radius: 50%;
        margin-right: 6px;
      }
    }
    &--desc {
      position: absolute;
      bottom: 65px;
      color: #a4b1bf;
      font-size: rem(13px);
      line-height: 24px;
      opacity: 0;
      padding: 0;
      margin: 0;
      transition: opacity .2s,transform .2s;
      transition-delay: 0s;
      transform: translateY(25px);
    }
    &--info {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      color: #a3a9ab;
      font-size: rem(11px);
      text-align: center;
      padding: 5px 0;
      li {
        display: inline-block;
        font-size: rem(14px);
        margin-right: 8px;
        a {
          color: #a4b1bf;
          text-transform: uppercase;
        }
        i {
          margin-right: 8px;
        }
      }
    }
    &:hover {
      box-shadow: 0 0 50px rgba(0,0,0,0.2);
      .blog__item--img {
        height: 90px;
        img {
          opacity: .5;
          transform: scale(1.2);
        }
      }
      .blog__item--content {
        height: 303px;
      }
      .blog__item--desc {
        opacity: 1;
        transition-delay: .1s;
        transform: translateY(0);
      }
    }
  }
}

// Get In Touch Section

.contact {
  position: relative;
  background: $color-primary url('../img/contact-bg.png') no-repeat center/cover;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .headline {
    margin-bottom: 100px;
    h3 {
      color: white;
      &::after {
        background-color: white;
      }
    }
    color: white;
  }
  &__message,
  &__info {
    background-color: #fff;
    padding: 30px;
    border-radius: $br;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
  &__success {
    position: relative;
    color: #fff;
    font-size: rem(12px);
    padding: 15px 5px 13px 50px;
    border-radius: $br;
    &::after {
      content: "\f00c";
      font-family: "FontAwesome";
      position: absolute;
      top: 14px;
      left: 17px;
      width: 20px;
      height: 20px;
      background: rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 100%;
    }
  }
  &__info {
    padding: 30px;
    div {
      font-size: rem(15px);
      margin-bottom: 16px;
      i {
        float: left;
        width: 30px;
        height: 45px;
        line-height: 30px;
        color: $color-primary;
        font-size: rem(22px);
        margin-right: 20px;
      }
      span {
        display: block;
        font-size: rem(18px);
        font-weight: 700;
      }
    }
    &--social {
      padding-top: 6px;
      li {
        display: inline-block;
        margin-right: 4px;
        a {
          display: block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          color: #fff;
          font-size: rem(18px);
          text-align: center;
          border-radius: 30px;
          margin-right: 3px;
          @include transition(0.3s);
        }
      }
    }
  }
}

// Clients Section

.clients {
  box-shadow: 0 3px 35px rgba(0,0,0,.1);
  img {
    max-height: 60px;
    margin: 30px auto;
  }
}

// Subscribe Section

.subscribe {
  &__form {
    position: relative;
    &--btn {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      color: #fff;
      border: none;
      height: 44px;
      line-height: 44px;
      text-align: center;
      padding: 0 40px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
  &__success {
    position: relative;
    color: #fff;
    font-size: rem(12px);
    padding: 15px 5px 13px 50px;
    border-radius: $br;
    &::after {
      content: "\f00c";
      font-family: "FontAwesome";
      position: absolute;
      top: 14px;
      left: 17px;
      width: 20px;
      height: 20px;
      background: rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 100%;
    }
  }
  .form-control {
    height: 44px;
    border-color: #e4e4e4;
    border-radius: 25px;
    box-shadow: none;
    &:focus {
      box-shadow: none;
      border-color: $color-primary;
    }
  }
}
