//=================================
//           Footer              //
//=================================

#footer {
  height: 80px;
  background: #fff;
  box-shadow: 0 0 35px rgba(0,0,0,.1);
}
.footer__social {
  float: left;
  padding: 19px 0;
  li {
    display: inline-block;
    margin: 0 3px;
    a {
      display: block;
      width: 42px;
      height: 42px;
      line-height: 40px;
      color: $color-body;
      font-size: rem(18px);
      text-align: center;
      border: 1px solid $color-body;
      border-radius: 100%;
      @include transition(0.2s);
      &:hover {
        background-color: $color-body;
        color: #fff;
      }
    }
  }
}
.copyright {
  font-size: rem(14px);
  text-align: center;
  color: #a1a1a1;
  padding: 30px 0;
  a {
    color: #a1a1a1;
    text-decoration: underline;
  }
}
